:root {
  --primaryColorWhite: #fff;
  --secondaryColorOrangeRedCrayola: #f25f5c;
  --accentColor1NaplesYellow: #ffe066;
  --accentColor2CgBlue: #247ba0;
  --accentColor3DavysGray: #50514f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 99vw;
  height: 98vh;
}

/* main wrapper for html ------------------------------------*/
.wrapperMain {
  width: 95vw;
  height: 95vh;
  background-color: #fff;
  margin: auto;
  margin-top: 2vh;
  margin-bottom: 1vh;
}

.sectionImageButtons {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* div for img element*/
.LogoSheeraz {
  height: 50%;
  width: 100%;
}

.imgLogo {
}

/* div for both buttons*/
a {
  text-decoration: none;
  color: black;
}
.btns {
  height: 50%;
  width: 100%;

  display: flex;
  justify-content: center;
  gap: 55px;
}

/* portfolio and contact buttons*/
.portfolio,
.contact {
  height: 45px;
  width: 120px;
  margin-top: 45px;
  background-color: var(--secondaryColorOrangeRedCrayola);
  border: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 7px;
}

.portfolio:hover,
.contact:hover {
  font-weight: bolder;
  font-size: 1.4rem;
}

/* media query for 320px --------------------------------------*/

@media screen and (max-width: 320px) {
  /* div for img element*/
  .LogoSheeraz {
    height: 50vh;
    width: 100vw;
  }

  .imgLogo {
    width: 95%;
    height: 95%;
  }

  /* div for both buttons*/
  .btns {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    margin-top: -80px;
  }

  /* portfolio and contact buttons*/

  .portfolio:hover,
  .contact:hover {
    font-weight: bolder;
    font-size: 1rem;
  }
}
